<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="templates/style.css">
   <title>Groupie tracker</title>
</head>

<body>
   <form action="index.html" method = "post">

         {{range .Artist}}
      <div class="container-1">
         <div class="box-1">
            <a href = "index/artist/{{.Id}}"> <img src="{{.Image}}">
            </a>
      <h4>{{.Name}}</h4> 
      </div>
   </div>
   

   
   {{end}} 

   </form>
</body>

</html>
