<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="templates/style.css">
   <title>Groupie tracker</title>
</head>

<body>
      <form action="index.html" method = "post">

      <main id="main">
         <div class="band">
              {{range .Artist}}
              <img src = {{.Image}} alt="">
         
           <div class="band-info">
              <h3>{{.Name}}</h3> 
         
            </div>
            <div class="overview">
               <h3>{{.Members}}</h3>
               {{end}}
              
            </div>
         </div> 
      </main>
   </form>
</body>

</html>
