<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="templates/style.css">
   <title>Groupie tracker</title>
</head>

<body>
  

         {{range .Artist}}
          
      <div class="container-1">
         <div class="box-1">
            <form action="/artist.html" id="{{.Name}}" method="POST">
            <button type="submit" id><img src="{{.Image}}"></button>
            <input name="infoA" type="hidden" type="text" value="{{.Name}}">
         </form>
      <h4>{{.Name}}</h4> 
      </div>
   </div>
   

   
   {{end}} 

   
</body>

</html>
