@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


:root {
   --primary-color: #22254b;
   --secondary-color: #373b69;
}


* {
   box-sizing: border-box;
}

body {

font-family: 'Poppins', sans-serif;
margin: 10px 10px;
padding: 10px 10px;


}

main{
   display: flex;
   flex-wrap:wrap ;
}

.container-1 {
   width: 300px;
   display:inline-flex;
   align-items: center;
   
   
}
.container-1 div {
   
   background-color: #373b69;
   margin: 1rem;
   box-sizing: border-box;
   border: 1px #ccc solid;
   padding: 10px; 
   position: relative;
   overflow: hidden;
   border-radius: 3px;
   
}


.box-1 {
   color: #ccc;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem 1rem;
   letter-spacing: 0.5;

}
.box-1:hover{
   transform: scale(1.2);
}

.box-1 h4 {
   margin-top: 0;
}

h1 {

   color: rgb(55, 0, 255);
}