@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


:root {
   --primary-color: #22254b;
   --secondary-color: #373b69;
}


* {
   box-sizing: border-box;
  
   
}


body {
   
   background-color: #22254b;
   font-family: 'Poppins', sans-serif;
   margin: 10px 10px;
   padding: 10px 10px;
   
}

main{
   display: flex;
   flex-wrap:wrap ;
}

.container-1 {
   width: 300px;
   display:inline-flex;
   align-items: center;
   
   
}
.container-1 div {
   background-color: #373b69;
   margin: 1rem ;
   box-sizing: border-box;
   border: 1px #ccc solid;
   padding: 10px; 
   position: relative;
   overflow: hidden;
   border-radius: 5px;
   
}

div img {
   cursor: pointer;
}


.box-1 {
  
   color: #ccc;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem 1rem;
   letter-spacing: 0.5;
   text-align: center;
   text-size-adjust: 20px;
   font-size: 1.3rem;
}


.box-1:hover{
   transform: scale(1.1);
}

.box-1 h4 {
   margin-top: 1.5rem;
}

h1 {
   color:#ccc;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   margin-bottom: 10px;
   padding: 25px 20px;
   background-color: #373b69;
}

h2 {
   color: #e26843;
   text-align:center;
   font-family: 'Poppins', sans-serif;
   font-size: 19px;
   padding: 15px 20px;
   margin-bottom: 10px;

}


h3 {

   color:#ccc;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   margin-bottom: 10px;
   padding: 25px 20px;

  
}

h3 img {
   border-radius: 50%; 
   border: 5px #ccc solid;
   top: 0;
  
}


h6 {

   color: #e26843;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 5rem;
   margin-bottom: 10px;
   padding: 25px 20px;
   background-color: #373b69;

}

h5 {

   color: #ccc;
   text-align:center;
   font-family: 'Poppins', sans-serif;
   font-size: 19px;
   padding: 15px 20px;
   margin-bottom: 10px;


}

a {

 color : #ccc;
 text-decoration: none;
 font-size: 30px;
 background-color: #373b69;
 border-radius: 5px ;
 padding: 10px 15px;

 


}

a:hover {
color: #e26843;
font-size: 32px;

}

